body{
    background-color: #EAE8E5 !important;
    font-family: "Playfair Display", serif;
}

.bg-body{
    background-color: #EAE8E5 !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.nav-item{
    border-radius: 20px;
    background-color: #101010;
}
.nav-item:hover{
   background-color: #EAE8E5;
   border-radius: 20px;
   border: 2px solid #101010;
}

.nav-link{
    color: #EAE8E5;
}
.nav-link:hover{
    color: #101010;
}

footer{
    bottom: 0;
}

.card {
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card img {
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-title {
    transition: transform 0.5s ease;
}

.card:hover .card-title {
    transform: scale(1.1);
}

.greeting{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Gallery/17.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 90vh;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    justify-items: center;
    align-items: center;
}

.grid-item {
    position: relative;
    overflow: hidden;
    width: 100%; 
    padding-bottom: 100%; 
    background-color: #f0f0f0; 
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.2); 
}


.countdown-item span {
    display: block;
    font-size: 40px; 
    font-weight: bold;
}

.countdown-item .label {
    font-size: 20px; 
}

.countdown-item {
    font-size: 2em;
}
.countdown-item .label {
    font-size: 0.5em;
}
.hidden {
    display: none;
}
