body{
    background-color: #EAE8E5 !important;
    font-family: "Playfair Display", serif;
}

.bg-body{
    background-color: #EAE8E5 !important;
}
/* .carousel-item img {
    height: 90vh;
    object-fit: cover;
} */

.nav-item{
    border-radius: 20px;
    background-color: #101010;
}
.nav-item:hover{
   background-color: #EAE8E5;
   border-radius: 20px;
   border: 2px solid #101010;
}

.nav-link{
    color: #EAE8E5;
}
.nav-link:hover{
    color: #101010;
}

footer{
    bottom: 0;
}

.card {
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card img {
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card-title {
    transition: transform 0.5s ease;
}

.card:hover .card-title {
    transform: scale(1.1);
}

.greeting{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Gallery/17.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 90vh;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    justify-items: center;
    align-items: center;
}

.grid-item {
    position: relative;
    overflow: hidden;
    width: 100%; 
    padding-bottom: 100%; 
    background-color: #f0f0f0; 
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.2); 
}




